---
import { type CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Card from "@components/Card";
import Pagination from "@components/Pagination.astro";
import { SITE } from "@config";

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedPosts: CollectionEntry<"notes">[];
  course: string;
  courseName: string;
}

const { currentPage, totalPages, paginatedPosts, course, courseName } =
  Astro.props;
---

<Layout title={`Course: ${courseName} | ${SITE.title}`}>
  <Header activeNav="courses" />
  <Main
    pageTitle={[`Course:`, `${courseName}`]}
    titleTransition={course}
    pageDesc={`All the notes from the course "${courseName}".`}
  >
    <h1 slot="title" transition:name={course}>{`Tag:${course}`}</h1>
    <ul>
      {
        paginatedPosts.map(({ data, slug }) => (
          <Card href={`/notes/${slug}/`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>

  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`/courses/${course}${
      currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""
    }/`}
    nextUrl={`/courses/${course}/${currentPage + 1}/`}
  />

  <Footer noMarginTop={totalPages > 1} />
</Layout>
